<div class="thumbnail">
    <ul class="nav nav-list">
        <li><%= link_to("訂單列表", admin_orders_path) %></li>
        <li><%= link_to("會員列表", admin_users_path) %></li>
        <li><%= link_to("產品列表", admin_products_path) %></li>
        <li><%= link_to("分類列表", admin_categories_path) %></li>
    </ul>
</div>